{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<section class="container mx-auto px-4 py-8">
  <div class="flex justify-center text-center text-white">
      <div class="w-full max-w-lg bg-green-500 rounded-lg p-4 shadow-lg">
              <h3 class="text-2xl font-bold">CRUD Project In Python Django</h3>
        </div>
    </div>

    <div class="row justify-content-around mt-2">
        <div class="col-sm-6">
            <a href="{% url 'add_student' %}" class="btn btn-primary float-end">Add</a>
        </div>
    </div>
            

    <div class="row justify-content-around text-center text-white mt-1">
        <div class="col-sm-6">
             <table class="table table-success table-striped">
                <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Roll</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stud in studata %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{stud.name}}</td>
                      <td>{{stud.email}}</td>
                      <td>{{stud.roll}}</td>


                      <td class="text-center">
                        <!-- Edit Button -->
                        <a href="{% url 'edit_student' stud.id %}" class="btn btn-info btn-sm">Edit</a>
                        
                        <!-- Delete Button -->
                        <form action="{% url 'delete_student' stud.id %}" method="POST" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                        </form>
                      </td>
                   
                    </tr>
                    {% endfor %}
                    
                  </tbody>
              </table>
        </div>
    </div>

</section>


{% endblock body %}

